.selectBlock {
  width: 80px;
}

@media(max-width: 700px){
    .selectBlock{
      width:70px;
      }
    }

  @media(max-width: 500px){
      .selectBlock{
        width:60px;
        }
      }