.header_logo{
width: 120px;
height:'auto';
display: block;
}

@media(max-width: 1024px){
  .header_logo{
    width:90px;
    }
  }


@media(max-width: 700px){
    .header_logo{
      width:70px;
      }
      .ant-input{
        font-size: 10px
      }
      .ant-select-dropdown-placement-bottomLeft{
        font-size: 10px;
      }
::-webkit-input-placeholder { font-size: 10px;}
::-moz-placeholder { font-size: 10px;}
:-ms-input-placeholder { font-size: 10px;}
:-moz-placeholder { font-size: 10px;}
.ant-select-selection-item{
  font-size: 10px
}
}

    @media(max-width: 500px){
      .header_logo{
        width:40px;
        }
        .ant-col-search{
          width:100px;
        }
.ant-select-dropdown-placement-bottomLeft{
  font-size: 8px
}
.ant-select-dropdown{
  font-size: 8px;
}

::-webkit-input-placeholder { font-size: 8px;}
::-moz-placeholder { font-size: 8px;}
:-ms-input-placeholder { font-size: 8px;}
:-moz-placeholder { font-size: 8px;}
.ant-select-selection-item{
  font-size: 8px
}
      }
